# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
.vercel/output/config.json
.vercel/output/_functions/_@astrojs-ssr-adapter.mjs
.vercel/output/_functions/_noop-middleware.mjs
.vercel/output/_functions/entry.mjs
.vercel/output/_functions/manifest_BMjdrDrt.mjs
.vercel/output/_functions/renderers.mjs
.vercel/output/_functions/chunks/astro-designed-error-pages_WNLbbfIV.mjs
.vercel/output/_functions/chunks/entrypoint_R_7GKss2.mjs
.vercel/output/_functions/chunks/Layout_A6AVANHm.mjs
.vercel/output/_functions/chunks/astro/assets-service_DgXN-x9d.mjs
.vercel/output/_functions/chunks/astro/server_rA9bOups.mjs
.vercel/output/_functions/pages/_image.astro.mjs
.vercel/output/_functions/pages/blog.astro.mjs
.vercel/output/_functions/pages/index.astro.mjs
.vercel/output/_functions/pages/specialists.astro.mjs
.vercel/output/_functions/pages/services/ecocardiograma.astro.mjs
.vercel/output/_functions/pages/services/electrocardiograma.astro.mjs
.vercel/output/_functions/pages/services/monitoreo-holter.astro.mjs
.vercel/output/_functions/pages/services/prueba-de-esfuerzo.astro.mjs
.vercel/output/static/browserconfig.xml
.vercel/output/static/favicon.ico
.vercel/output/static/favicon.svg
.vercel/output/static/google8df330feaa742176.html
.vercel/output/static/robots.txt
.vercel/output/static/sitemap-0.xml
.vercel/output/static/sitemap-index.xml
.vercel/output/static/video.mp4
.vercel/output/static/_astro/index.COpxCkwP.css
.vercel/output/static/fonts/Chonburi-Regular.woff2
.vercel/output/static/fonts/OpenSans.woff2
.vercel/output/static/images/alex-rodriguez.avif
.vercel/output/static/images/alex-rodriguez.webp
.vercel/output/static/images/Ana-Lopez.avif
.vercel/output/static/images/Ana-Lopez.webp
.vercel/output/static/images/apple-touch-icon.png.png
.vercel/output/static/images/Atencion-personalizada.avif
.vercel/output/static/images/Atencion-personalizada.webp
.vercel/output/static/images/cardiologo-caracas.avif
.vercel/output/static/images/cardiologo-caracas.webp
.vercel/output/static/images/consejos-salud-corazon.avif
.vercel/output/static/images/consejos-salud-corazon.webp
.vercel/output/static/images/controlar-presion-arterial.avif
.vercel/output/static/images/controlar-presion-arterial.webp
.vercel/output/static/images/David-Martinez.avif
.vercel/output/static/images/David-Martinez.webp
.vercel/output/static/images/ecocardiograma.avif
.vercel/output/static/images/ecocardiograma.webp
.vercel/output/static/images/electrocardiograma.avif
.vercel/output/static/images/electrocardiograma.webp
.vercel/output/static/images/enfermedades-del-corazon.avif
.vercel/output/static/images/enfermedades-del-corazon.webp
.vercel/output/static/images/Experiencia-medica.avif
.vercel/output/static/images/Experiencia-medica.webp
.vercel/output/static/images/Holter-de-ritmo-cardiaco.avif
.vercel/output/static/images/Holter-de-ritmo-cardiaco.webp
.vercel/output/static/images/josefina-feijoo.avif
.vercel/output/static/images/josefina-feijoo.webp
.vercel/output/static/images/juan-perez.avif
.vercel/output/static/images/juan-perez.webp
.vercel/output/static/images/Maria-Rodriguez.avif
.vercel/output/static/images/Maria-Rodriguez.webp
.vercel/output/static/images/og-image.jpg
.vercel/output/static/images/og-old.jpg
.vercel/output/static/images/prueba-de-esfuerzo.avif
.vercel/output/static/images/prueba-de-esfuerzo.webp
.vercel/output/static/images/Pruebas-cardiacas-no-invasivas.avif
.vercel/output/static/images/Pruebas-cardiacas-no-invasivas.webp
.vercel/output/static/images/unidad-cardiologica-latinoamericana.avif
.vercel/output/static/images/unidad-cardiologica-latinoamericana.webp
.vercel
