---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Unidad Cardiológica Latinoamericana, Cardiológica de confianza en Caracas" description='La unidad de cardiología de confianza en Caracas. Ofrecemos servicios de cardiología, examenes no invasivos, terapia, y especialistas en cardiología.'>
	<main>
		<h1>Electrocardiograma</h1>
	</main>
</Layout>