---
import Hero from '@components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Proposition from '@components/Proposition.astro';
import Testimony from '@components/Testimony.astro';
import Services from '@components/Services.astro';
import Specialist from '@components/Specialist.astro';
import Blog from '@components/Blog.astro';

---

<Layout 
	title="Unidad Cardiológica Latinoamericana, Cardiólogo de confianza en Caracas" 
	description='La unidad de cardiología de confianza en Caracas. Ofrecemos servicios de cardiología, pruebas no invasivos, terapia, y especialistas en cardiología.'
	canonical="https://ucla-xi.vercel.app/"
	
	>
	<main>
		<Hero />
		<Proposition />
		<Testimony />
		<Services />
		<Specialist />
		<Blog />
	</main>
</Layout>


