---
import Hero from '@components/Hero.astro'
import Layout from '../layouts/Layout.astro'
import Proposition from '@components/Proposition.astro'
import Testimony from '@components/Testimony.astro'
import Services from '@components/Services.astro'
import Specialist from '@components/Specialist.astro'
import Blog from '@components/Blog.astro'
---

<Layout
  title="Unidad Cardiológica Latinoamericana, Cardiólogo de confianza en Caracas"
  description="Consulta a nuestros cardiólogos y obtén un diagnóstico preciso. Tecnología de punta al servicio de tu corazón."
  canonical="https://ucla-xi.vercel.app/"
>
  <main>
    <Hero />
    <Proposition />
    <Testimony />
    <Services />
    <Specialist />
    <Blog />
  </main>
</Layout>
