---
import MailIcon from '@icons/MailIcon.astro';
import PhoneIcon from '@icons/PhoneIcon.astro';
import PlaceICon from '@icons/PlaceIcon.astro';
import InstagramIcon from '@icons/Instagram.astro';
import FacebookIcon from '@icons/FacebookIcon.astro';
import TwitterIcon from '@icons/TwitterIcon.astro';
---

<footer class="text-white  bg-gradient-to-b  from-slate-500 to-slate-900  p-8 md:px-32 md:py-8 shadow-lg text-sm">
  <div class="w-full flex items-center justify-start gap-2 pb-8">
								<a class="flex items-center justify-between gap-2" href="/">
                <svg width="64" height="64" fill="none" viewBox="0 0 182 216"><path fill="#1A1A1A" d="M56.997 3.842c-3.921.092-17.769-.509-32.312 16.182C40.358 12.147 45.474 7.378 58.077 9.398c11.819 1.608 10.83 10.203 18.402 5.377 27.48.326 41.832 32.342 28.301 30.24-13.532-2.102-19.002 13.005-20.149 23.55-1.365 15.367 16.278 29.136 30.544 21.962 4.449.716 6.398-12.889 2.495-7.401-7.842 9.365-25.04 3.27-26.195-8.723-1.767-9.1 2.16-22.85 13.031-23.353 28.666 8.042 1.81-54.013-28.953-42.005-5.865 1.843-10.247-5.398-18.556-5.203Zm41.52 105.092c11.332-.179 22.688-4.043 31.484-11.287-12.804 15.061-43.173 27.857-70.622 4.395-27.45-23.46-34.221-48.032-8.49-76.76-36.478 17.95-32.027 77.347 11.523 92.415 17.558 8.386 48.962 3.201 63.603-8.648 7.555-4.287 13.787-22.93 4.495-25.28-5.051 29.637-41.88 21.096-61.079-.732-19.199-21.828-6.592-44.543-7.753-59.119-32.588 48.336 7.318 86.374 36.84 85.016ZM26.869 27.519C15.982 35.955 9.44 49.234 5.718 62.303c-5.257 26.686 10.732 53.804 33.03 67.57 21.36 13.056 47.68 22.659 72.539 14.334 15.3-4.505 29.158-14.32 37.597-28.019-4.779 16.78-20.733 27.7-36.262 33.609-25.965 9.871-54.92 1.104-76.96-14.047-8.815-5.925-16.93-12.872-24.335-20.49 11.06 25.814 37.501 42.729 64.535 47.113 25.927 3.402 53.974-5.876 71.608-25.539 9.063-10.006 7.788-24.606 6.742-37.113-.655-4.763-2.727-15.011-3.707-15.615-1.755 13.843-6.044 28.337-15.731 38.708-17.324 17.153-44.423 16.445-66.118 9.284-20.975-6.919-41.731-20.256-50.066-41.706C12 76.96 10.347 60.4 18.177 47.099c3.173-6.386 6.695-12.696 8.691-19.58Zm112.684 33.083c-10.944.082-22.352 6.635-27.357 16.156 10.988-6.066 23.767-14.888 36.791-9.441 14.061 5.365 22.649 19.99 23.296 34.726 3.677 25.038-8.36 51.036-29.329 64.887-37.714 25.883-92.262 20.284-125.784-10.143C6.297 142.292 6.71 123.084 3.733 105.946c-3.28-7.236-1.041 8.527-1.622 11.746.124 11.349.286 22.697.44 34.045 18.33 24.933 49.324 38.537 79.876 38.268 28.689.32 59.986-6.25 79.969-28.566 15.425-17.05 22.226-41.544 18.686-64.19-4.098-19.067-21.653-36.176-41.53-36.647ZM22.532 184.856c6.263 9.802 16.822 12.199 26.375 13.874 9.552 1.676 20.576 1.907 29.839-1.922-11.545-.7-19.23-.755-30.55-3.577-13.682-3.411-9.972-4.533-25.664-8.375Zm-6.317 3.34c2.99 8.368 13.416 20.592 19.907 26.826 12.747-4.118 28.846-8.189 40.988-13.381-10.316-.542-22.532.493-32.56 2.989-7.552 1.827-8.342 2.216-12.591-3.795-2.256-3.484-12.565-9.994-15.744-12.639Z"/><path fill="#990F02" d="M55.099.982c-3.921.092-17.769-.509-32.312 16.182C38.46 9.287 43.576 4.518 56.18 6.538c11.819 1.608 10.83 10.203 18.402 5.377 27.48.326 41.832 32.342 28.301 30.24C89.35 40.053 83.88 55.16 82.733 65.705c-1.365 15.367 16.278 29.136 30.544 21.962 4.449.716 6.398-12.889 2.495-7.401-7.842 9.365-25.04 3.27-26.195-8.723-1.767-9.1 2.16-22.85 13.031-23.353 28.666 8.042 1.81-54.013-28.953-42.005C67.79 8.028 63.408.787 55.1.982Zm41.52 105.092c11.332-.179 22.688-4.043 31.484-11.287-12.804 15.062-43.173 27.857-70.622 4.396-27.45-23.462-34.221-48.032-8.49-76.76-36.478 17.95-32.027 77.346 11.523 92.414 17.558 8.386 48.962 3.201 63.603-8.648 7.555-4.287 13.787-22.93 4.495-25.28-5.051 29.637-41.88 21.096-61.079-.732-19.199-21.828-6.592-44.543-7.753-59.119-32.588 48.336 7.318 86.374 36.84 85.016ZM24.97 24.659C14.084 33.095 7.542 46.374 3.82 59.443c-5.257 26.686 10.732 53.804 33.03 67.57 21.36 13.057 47.68 22.659 72.539 14.334 15.3-4.505 29.158-14.32 37.597-28.019-4.779 16.78-20.733 27.7-36.262 33.609-25.964 9.871-54.919 1.104-76.96-14.046-8.815-5.926-16.93-12.872-24.335-20.491 11.061 25.814 37.501 42.729 64.535 47.113 25.927 3.402 53.974-5.876 71.608-25.539 9.063-10.006 7.788-24.606 6.743-37.113-.655-4.763-2.727-15.011-3.708-15.615-1.755 13.843-6.044 28.337-15.731 38.708-17.324 17.153-44.423 16.446-66.117 9.284-20.976-6.919-41.732-20.256-50.067-41.706-6.591-13.431-8.243-29.992-.413-43.293 3.173-6.386 6.695-12.696 8.691-19.58Zm112.684 33.083c-10.944.082-22.352 6.636-27.357 16.156 10.988-6.066 23.767-14.888 36.791-9.44 14.061 5.364 22.649 19.99 23.296 34.725 3.677 25.038-8.36 51.037-29.329 64.887-37.714 25.884-92.262 20.284-125.784-10.143-10.872-14.494-10.459-33.703-13.436-50.841-3.28-7.236-1.041 8.527-1.622 11.746.124 11.349.286 22.697.44 34.046 18.33 24.932 49.324 38.536 79.876 38.268 28.689.319 59.986-6.251 79.969-28.567 15.425-17.05 22.226-41.544 18.686-64.19-4.098-19.067-21.653-36.176-41.53-36.647ZM20.634 181.996c6.263 9.802 16.822 12.199 26.375 13.874 9.552 1.676 20.576 1.907 29.839-1.922-11.545-.7-19.23-.755-30.55-3.577-13.682-3.411-9.972-4.533-25.664-8.375Zm-6.317 3.34c2.99 8.369 13.416 20.592 19.907 26.826 12.747-4.118 28.846-8.189 40.988-13.38-10.316-.543-22.532.492-32.56 2.988-7.552 1.827-8.342 2.216-12.591-3.795-2.256-3.484-12.565-9.994-15.744-12.639Z"/></svg>
              
							<strong class="font-sans md:text-xl w-24 md:w-40">
								Unidad Cardiológica Latinoamericana
							</strong>
              </a>
    </div>
  <div class="w-full flex flex-col items-start justify-between gap-4 md:flex-row pb-8">
  	<div class="flex flex-col items-start justify-start gap-2">
      
    <a class="flex-1" href="https://maps.app.goo.gl/ELaKXn4bMhHFye9w9" target="_blank">
      <picture class="w-full max-w-96 h-full flex-grow-0 flex-shrink-0">
        <source srcset=`/images/unidad-cardiologica-latinoamericana.avif` type="image/avif">
        <img loading="lazy" src=`/images/unidad-Cardiológica-latinoamericana.webp` alt="Como llegar a Unidad Cardiológica Latinoamericana" class="w-full h-full object-cover rounded-md" />
      </picture>
    </a>
    </div>
    <div class="w-full flex flex-col items-center justify-start gap-2 text-left">
      <div class="w-full flex items-start gap-2">
        <div class="w-6 aspect-square md:w-12">
          <PlaceICon className="w-8 h-8 " width='48' height='48' />
        </div>
        <address class="max-w-[300px]text-left">Av. Libertador, Edificio Maracaibo, piso 5, ofc 54, Caracas, municipio libertador</address>
      </div>
      <div class="w-full flex gap-2">
        <PhoneIcon className="w-8 h-8" />
        <strong>+58 212 761.43.73</strong>
      </div>
      <div class="w-full flex gap-2">
        <MailIcon className="w-8 h-8 " />
        <a href="mailto:Asoccivil.ucla@gmail.com">Asoccivil.ucla@gmail.com</a>
      </div>
      <div class="w-full h-8 flex items-start justify-start gap-4 text-left">
          <InstagramIcon className="w-8 h-8"  />
          <FacebookIcon className="w-8 h-8" />
          <TwitterIcon className="w-8 h-8" /> 
      </div>
    </div>
    <div class="w-[300px]">
      <strong class="block font-semibold mb-4">Otros enlaces</strong>
      <ul class="flex flex-col gap-2">
        <li><a href="#">Política de privacidad</a></li>
        <li><a href="#">Términos y condiciones</a></li>
        <li><a href="#">Mapa del sitio</a></li>
        <li><a href="#">Preguntas frecuentes</a></li>
      </ul>
    </div>
    
  </div>
</footer>