<footer class="text-white bg-gray-900 p-4 md:px-32 md:py-12 shadow-lg">
  <div class="flex items-center justify-between space-x-4">
    <p class="text-sm">
      &copy; 2023 UCLA
    </p>
    
  </div>
</footer>