---
import SquereButton from './SquereButton.astro';
import PhoneIcon from '@icons/PhoneIcon.astro';
import MailIcon from '@icons/MailIcon.astro';
import WhatsappIcon from '@icons/Whatsapp.astro';
---

<section class="flex flex-col lg:flex-row lg:h-full">
  <section class="w-full h-screen relative">
    <video 
      preload="auto"
      class="w-full h-screen object-cover object-top backdrop-blur-lg"  
      src="/video.mp4" 
      autoplay loop muted >
    </video>
  <!-- <picture>
    <source srcset="/images/cardiologo-caracas.avif" type="image/webp">
    <img src="/images/cardiologo-caracas.webp" alt="UCLA" class="absolute inset-0 w-full h-full object-cover object-left-top">
  </picture> -->
  <div class="absolute inset-0 flex items-center justify-center bg-gradient-to-b backdrop-blur-md from-black to-red-900 opacity-20">
    
  </div>
  <div class="absolute inset-0 top-0 bottom-0 flex items-center justify-center">
    <div class="max-w-[500px] px-6 py-12 text-left">
      <h1 class=" font-bold tracking-tight text-gray-900 sm:text-5xl md:text-6xl">
        <span class="block text-red-500 font-chomburi">Unidad Cardiológica Latinoamericana</span>
        <span class="block font-chomburi text-white  font-bold tracking-tight sm:text-2xl md:text-4xl">Cardiológica de confianza en Caracas</span>
      </h1>
    </div>
  </div>
</section>
<secction class="w-full flex lg:w-[200px] lg:flex-col lg:h-screen lg:justify-stretch">
  <SquereButton href="tel:+582127614373" color="light">
    <PhoneIcon className="w-6 h-6 md:w-12 md:h-12" />
    Llamenos 
  </SquereButton>
  <SquereButton href="https://wa.me/584243212325" color="middle">
    <WhatsappIcon className="w-6 h-6 md:w-12 md:h-12 animate-rotate-360" />
    Solicite su cita
  </SquereButton>
  <SquereButton href="mailto:Asoccivil.ucla@gmail.com" color="dark">
    <MailIcon className="w-6 h-6 md:w-12 md:h-12" />
    Preguntenos
  </SquereButton>
</secction>
</section>