---
import RightArrow from '@icons/RightArrow.astro';
import ServiceCard from './ServiceCard.astro';
import ButtonLink from './ButtonLink.astro';
---

<section class="container max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 py-8  flex flex-col gap-6">
  <h2 class="tracking-tight">Nuestros Servicios </h2>

  <ServiceCard 
    title='Electrocardiograma (ECG)'
    alt=' Electrocardiogramas en Caracas'
    image='electrocardiograma'
    position='left'
    href='electrocardiograma'
  >
      <p>    ¿Sientes palpitaciones o molestias en el pecho? Un ECG puede ayudar a detectar problemas cardíacos de forma temprana. Esta prueba rápida y sencilla registra la actividad eléctrica de tu corazón, permitiéndonos evaluar su salud y diagnosticar posibles afecciones.</p>
  </ServiceCard>
  <ServiceCard 
    title='Ecocardiograma'
    alt='Ecocardiograma en Caracas'
    image='ecocardiograma'
    position='right'
    href='ecocardiograma'
  >
      <p>¿Quieres saber más sobre la salud de tu corazón? Un ecocardiograma es una prueba no invasiva que utiliza ondas sonoras para crear imágenes en movimiento de tu corazón. Permite evaluar la estructura y función del corazón, detectar problemas cardíacos y monitorear la eficacia de los tratamientos.</p>
  </ServiceCard>
  <ServiceCard 
    title='Prueba de esfuerzo'
    alt='Prueba de Esfuerzo cardiaco en Caracas'
    image='prueba-de-esfuerzo'
    position='left'
    href='prueba-de-esfuerzo'
  >
      <p> Quieres conocer la capacidad de tu corazón? Una prueba de esfuerzo es una evaluación segura y no invasiva que mide cómo responde tu corazón al ejercicio. Durante la prueba, caminarás sobre una cinta o pedalearás una bicicleta estacionaria mientras se monitorea tu ritmo cardíaco, presión arterial y respiración.</p>
  </ServiceCard>
  <ServiceCard 
    title='Monitoreo Holter'
    alt='Prueba de Holter en caracas'
    image='Holter-de-ritmo-cardiaco'
    position='right'
    href='monitoreo-holter'
  >
      <p>¿Experimentas palpitaciones, mareos o desmayos? Un monitoreo Holter podría ser la respuesta. Este examen te permite registrar la actividad eléctrica de tu corazón durante 24 horas o más, mientras realizas tus actividades diarias.</p>
  </ServiceCard>

  <div class="w-full flex justify-end">
    <ButtonLink href='#'>
      Conozca más servicios
      <RightArrow className='w-6 h-6' />
    </ButtonLink>
  </div>

</section>  

