---
import RightArrow from '@icons/RightArrow.astro';

interface Props {
  image: string;
  position: 'left' | 'right';
  title: string;
  alt: string;
}
const { image, position, title, alt } = Astro.props;

const direction = position === 'left' ? 'md:flex-row' : 'md:flex-row-reverse';

---

<article class="w-full flex flex-col items-start justify-center gap-4 ">
  <h3>{title}</h3>
  <div class:list={[direction, "w-full flex flex-col justify-start items-center gap-4"]}>
    <picture class="w-full max-w-96 h-full flex-grow-0 flex-shrink-0">
      <source srcset=`/images/${image}.avif` type="image/avif" width="384" height="216">
      <img loading="lazy" src=`/images/${image}.webp` alt={alt} class="w-full h-full object-cover rounded-md" width="384" height="216"/>
    </picture>
    <div class="flex flex-col items-start justify-center gap-4 ">
      <slot />
      <div class="w-full flex items-center justify-end gap-2">
        <a href="/contacto" class=" text-red-700 font-semibold"> 
          <div class="flex items-center gap-2">
            Leer mas
            <RightArrow className="w-4 h-4" />
          </div>
        </a>
        
      </div>
    
    </div>
  </div>

  
</article>