---
import Whatsapp from '@icons/Whatsapp.astro';
import TestimonyCard from './TestimonyCard.astro';


---

<section class="container max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 py-8 flex flex-col gap-4">
  
  <h2>Nuestros pacientes hablan por nosotros</h2>
  
  <p>Cada día, recibimos innumerables testimonios de personas que han mejorado significativamente su salud cardiovascular gracias a nuestros tratamientos y atención personalizada. Sus palabras son nuestra mayor recompensa y la prueba de que estamos haciendo las cosas bien. A continuación, te presentamos algunas de sus experiencias.</p>


  <div class="container max-w-6xl mx-auto  flex flex-col gap-6 items-start justify-center w-full ">
    <div class="w-full relative flex items-center justify-center">
        <button aria-label="slide backward" class="absolute z-30 left-0 ml-10 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 cursor-pointer" id="prev">
            <svg class="dark:text-gray-900 hover:text-red-600 hover:scale-150" width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 1L1 7L7 13" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
        <div class="w-full h-[406px] mx-auto overflow-x-hidden overflow-y-hidden">
            <div id="slider" class="h-full flex lg:gap-8 md:gap-6 gap-14 items-center justify-start transition ease-out duration-700">
                <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                      <TestimonyCard 
                      name='Juan Pérez' 
                      year='62 años' 
                      comment='Desde que me atiendo, me siento mucho más tranquilo. Gracias a él, he podido controlar mi presión arterial y disfrutar de más actividades con mi familia. Su paciencia y conocimientos me dan mucha confianza' 
                      image='juan-perez' />
                </div>
                <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                    <TestimonyCard 
                      name='María Rodríguez' 
                      year='68 años' 
                      comment='Llevo años viniendo a esta clínica y siempre he recibido una atención excelente. Las enfermeras son muy amables y los médicos, como la  Dra. Josefina Feijóo, siempre explican todo con mucha claridad. Me siento muy bien cuidada' 
                      image='Maria-Rodriguez' />
                </div>
                <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                    <TestimonyCard 
                      name='Ana López' 
                      year='35 años' 
                      comment='Después de sufrir un susto con mi corazón, decidí buscar ayuda especializada. me ayudaron a entender mi condición y me brindó un tratamiento personalizado. Gracias a ella, he podido retomar mi vida normal' 
                      image='Ana-Lopez' />
                </div>
                <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                    <TestimonyCard 
                      name='David Martínez' 
                      year='22 años' 
                      comment='Como deportista de alto rendimiento, mi corazón es mi herramienta de trabajo. Gracias a los chequeos regulares y el asesoramiento, puedo entrenar con tranquilidad y dar lo mejor de mí. Me siento muy agradecido por su profesionalismo' 
                      image='David-Martinez' />
                </div>
            </div>
        </div>
        <button aria-label="slide forward" class="absolute z-30 right-0 mr-10 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400" id="next">
            <svg class="dark:text-gray-900 hover:text-red-700 hover:scale-150" width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L7 7L1 13" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
    </div>
</div>

  <p>¿Quieres saber más sobre nuestros tratamientos? ¡Agenda una consulta ahora!</p>

  <div class="flex items-center justify-end w-full h-full   ">
    <a href="/contacto" class="bg-red-700 border-2 text-white font-chomburi px-4 py-2  rounded-md">
    <div class="flex items-center justify-center gap-2">
      <Whatsapp className='w-6 h-6 ' />
      Solicite su cita ahora
    </div>
    </a>
  </div>
</section>




<script>
  let defaultTransform = 0;
  function goNext() {
      defaultTransform = defaultTransform - 398;
      const slider = document.getElementById("slider");
      if(slider == null) return;
      if (Math.abs(defaultTransform) >= slider.scrollWidth / 1.1) defaultTransform = 0;
      slider.style.transform = "translateX(" + defaultTransform + "px)";
  }
  const next = document.getElementById("next");
  next?.addEventListener("click", goNext);
  function goPrev() {
      const slider = document.getElementById("slider");
      if (Math.abs(defaultTransform) === 0) defaultTransform = 0;
      else defaultTransform = defaultTransform + 398;
      if(slider == null) return;
      slider.style.transform = "translateX(" + defaultTransform + "px)";
  }
  const prev = document.getElementById("prev");
  prev?.addEventListener("click", goPrev);

</script>
