---
import Header from  "@components/Header.astro"
import Footer from  "@components/Footer.astro"

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<title>{title}</title>
		<link
      rel="preload"
      href="/fonts/Chonburi-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
		<link
      rel="preload"
      href="/fonts/OpenSans.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
		<link rel="preload" as="video" href="/video.mp4" />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>

		
	

	@font-face {
    font-family: 'Chonburi';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Chonburi-Regular.woff2) format('woff2');
  }
	@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/OpenSans.woff2) format('woff2');
  }
	html {
		font-family: OpenSans;
		color: "#1e293b";
	}

	h1, h2, h3{
		font-family: Chonburi;
		color: #ef4444;
		text-wrap: balance;
	}

	h1{
		font-size: 32px;
		line-height: 40px;
	}

	h2{
		font-size: 24px;
		line-height: 32px;
	}

	h3{
		font-size: 20px;
		line-height: 28px;
	}

	p{
		font-size: 16px;
		line-height: 24px;
		text-wrap: pretty;
	}

	@media (min-width: 768px) {
		h1{
			font-size: 48px;
			line-height: 56px;
		}

		h2{
			font-size: 40px;
			line-height: 48px;
		}

		h3{
			font-size: 36px;
			line-height: 42px;
		}

		p{
			font-size: 20px;
			line-height: 28px;
		}

	}

</style>
